* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

// Variables
$primary-pink: #ed7dad;
$secondary-pink: #ea5c9d;
$primary-yellow: #f19121;
$secondary-yellow: #d58228;
$tertiary-yellow: #d38633;
$primary-black: #3e3b38;

@font-face {
  font-family: baseFont;
  src: url(../fonts/MohrRounded-SemiBold.ttf);
}

@mixin logoText {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: baseFont;
  color: $primary-pink;
  text-align: center;
  margin-bottom: 1.5rem;

  span {
    color: $primary-black;
    font-family: baseFont;
  }
}

@mixin fade {
  transition: all 0.5s ease-in-out;
}

.app {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to top, #cfcdbf, #f2f2f2, #e9e7e7, #eaeaea);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.5s;
  // border: 2px crimson solid;
  position: relative;

  &__landingPage {
    position: relative;
    // outline: 2px crimson solid;
    text-align: center;
    animation: intro 2.5s ease;
    @include fade();

    &--icon {
      height: 15rem;
    }
    &--text {
      // outline: 2px crimson solid;
      font-size: 2rem;
      font-weight: bold;
      font-family: baseFont;
      color: $primary-pink;
      position: absolute;
      top: 12rem;
      left: 13%;
      @include fade();

      span {
        color: $primary-black;
        font-family: baseFont;
      }
    }
  }

  &__income {
    background: white;
    width: 80%;
    height: 50%;
    position: absolute;
    top: 0;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 65px 35px rgba(0, 0, 0, 0.05);

    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    @include fade();
    .app__textSection {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 100%;

      &--text {
        text-align: center;
        margin-top: 2rem;
        span {
          font-weight: bold;
          font-size: 1.2rem;
        }
      }

      &--text2 {
        margin-top: 3.5rem;
        text-align: center;
        font-size: 0.7rem;
      }
      &--logoText {
        font-size: 1.2rem;
        font-weight: bold;
        font-family: baseFont;
        color: $primary-pink;
        text-align: center;
        margin-bottom: 1.5rem;

        span {
          color: $primary-black;
          font-family: baseFont;
        }
      }
    }

    .app__incomeForm {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .topSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      &--logo {
        height: 10rem;
      }

      &--input {
        width: 70%;
        height: 20%;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        border-radius: 0.6rem;
        border: 1px $primary-black solid;
        &:focus {
          outline: none;
        }

        &::-webkit-outer-spin-button,
        ::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }

      input[type="number"] {
        -moz-appearance: textfield;
      }

      &--button {
        width: 100%;
        padding: 1rem;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        border: none;
        background: $primary-yellow;
        color: white;
        font-size: 1.2rem;
        &:hover {
          cursor: pointer;
        }

        &:focus {
          background: $tertiary-yellow;
        }
      }
    }
  }

  &__percentages {
    height: 100%;
    // border: crimson 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    @include fade();

    &--boxes {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      color: white;

      .box {
        margin: 0.5rem;
        padding: 3rem;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        font-size: 1.2rem;
        &:hover {
          cursor: pointer;
          box-shadow: 0 14px 28px rgba(197, 197, 197, 0.25),
            0 10px 10px rgba(0, 0, 0, 0.22);
        }
        &:active {
          box-shadow: none;
          scale: 0.96;
        }
      }
    }

    &--1 {
      background: #e76f51;
    }

    &--2 {
      background: #e9c46a;
    }

    &--3 {
      background: #264653;
    }

    &--4 {
      background: #2a9d8f;
    }

    &--content {
      text-align: center;
      font-size: 0.9rem;
      padding: 0.8rem;
      span {
        font-weight: bold;
        font-size: 1.3rem;
      }
    }

    &--logoText {
      @include logoText();
    }
  }

  &__completed {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    @include fade();

    &--icon {
      padding-top: 5rem;
      i {
        color: #2a9d8f;
        font-size: 6rem;
      }
    }
    &--content {
      text-align: center;
      span {
        font-weight: bold;
        font-size: 1.2rem;
      }
    }

    &--btn {
      border: none;
      background: $primary-yellow;
      color: white;
      padding: 1rem 2rem;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      &:hover {
        cursor: pointer;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
          0 10px 10px rgba(0, 0, 0, 0.22);
      }
      &:active {
        box-shadow: none;
        scale: 0.96;
      }
    }

    &--logoText {
      @include logoText();
    }
  }

  &__budget {
    // border: 0.3rem solid crimson;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
    position: relative;
    overflow: hidden;

    .section {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      // background: white;
      margin: 0.5rem;
      border-radius: 0.5rem;
      color: white;
      padding: 0.5rem;
    }

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem;
      border-radius: 0.8rem;
      p {
        font-weight: bold;
      }
    }

    .title {
      text-align: center;
      margin-bottom: 1rem;
      font-size: 0.85rem;
      font-weight: bold;
      border-bottom: 2px solid white;
      padding-bottom: 0.5rem;
    }

    &--expenses {
      flex: 1;
      // border: 0.3rem solid indigo;
      background: #e76f51;

      .app__budget--expensesList {
        li:nth-child(even) {
          background: #c45e44;
        }
      }
    }

    &--growthFund {
      flex: 1;
      // border: 0.3rem solid greenyellow;
      background: #264653;

      .app__budget--growthList {
        li:nth-child(even) {
          background: #305868;
        }
      }
    }

    &--burger {
      background: white;
      height: 5rem;
      width: 5rem;
      bottom: -1rem;
      right: -1rem;
      margin-right: 0.5rem;
      margin-bottom: 0.3rem;
      border-radius: 10rem;
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: all 0.2s ease-in-out;

      &:hover {
        cursor: pointer;
        background: #2a9d8f;
      }

      .line {
        background: #25242a;
        height: 0.15rem;
        width: 2rem;
        margin: 0.2rem;
        pointer-events: nones;
      }
    }
  }
}

// Animations
@keyframes intro {
  0% {
    opacity: 0;
    scale: 3;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}

// Dynamic classes
.hide {
  opacity: 0;
}

.remove {
  display: none;
}

// Responsiveness
@media screen and (min-width: 800px) {
  .app {
    padding: 4rem 10rem 2rem 10rem;
    &__income {
      .app__textSection--text {
        font-size: 1.2rem;
      }
      .app__textSection--text2 {
        font-size: 0.8rem;
      }
    }

    &__percentages {
      &--boxes {
        .box {
          padding: 4.5rem;
          font-size: 1.5rem;
        }
        &--content {
          font-size: 1.35rem;
        }
      }
    }

    &__budget {
      font-size: 0.95rem;
      &--burger {
        display: none;
      }
    }
  }
}
