* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@font-face {
  font-family: baseFont;
  src: url(../fonts/MohrRounded-SemiBold.ttf);
}

.app {
  height: 100vh;
  width: 100vw;
  background: -webkit-gradient(linear, left bottom, left top, from(#cfcdbf), color-stop(#f2f2f2), color-stop(#e9e7e7), to(#eaeaea));
  background: linear-gradient(to top, #cfcdbf, #f2f2f2, #e9e7e7, #eaeaea);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  position: relative;
}

.app__landingPage {
  position: relative;
  text-align: center;
  -webkit-animation: intro 2.5s ease;
          animation: intro 2.5s ease;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.app__landingPage--icon {
  height: 15rem;
}

.app__landingPage--text {
  font-size: 2rem;
  font-weight: bold;
  font-family: baseFont;
  color: #ed7dad;
  position: absolute;
  top: 12rem;
  left: 13%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.app__landingPage--text span {
  color: #3e3b38;
  font-family: baseFont;
}

.app__income {
  background: white;
  width: 80%;
  height: 50%;
  position: absolute;
  top: 0;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.app__income .app__textSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.app__income .app__textSection--text {
  text-align: center;
  margin-top: 2rem;
}

.app__income .app__textSection--text span {
  font-weight: bold;
  font-size: 1.2rem;
}

.app__income .app__textSection--text2 {
  margin-top: 3.5rem;
  text-align: center;
  font-size: 0.7rem;
}

.app__income .app__textSection--logoText {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: baseFont;
  color: #ed7dad;
  text-align: center;
  margin-bottom: 1.5rem;
}

.app__income .app__textSection--logoText span {
  color: #3e3b38;
  font-family: baseFont;
}

.app__income .app__incomeForm {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.app__income .app__incomeForm .topSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app__income .app__incomeForm--logo {
  height: 10rem;
}

.app__income .app__incomeForm--input {
  width: 70%;
  height: 20%;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  border-radius: 0.6rem;
  border: 1px #3e3b38 solid;
}

.app__income .app__incomeForm--input:focus {
  outline: none;
}

.app__income .app__incomeForm--input::-webkit-outer-spin-button,
.app__income .app__incomeForm--input ::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.app__income .app__incomeForm input[type="number"] {
  -moz-appearance: textfield;
}

.app__income .app__incomeForm--button {
  width: 100%;
  padding: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border: none;
  background: #f19121;
  color: white;
  font-size: 1.2rem;
}

.app__income .app__incomeForm--button:hover {
  cursor: pointer;
}

.app__income .app__incomeForm--button:focus {
  background: #d38633;
}

.app__percentages {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.app__percentages--boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: white;
}

.app__percentages--boxes .box {
  margin: 0.5rem;
  padding: 3rem;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  font-size: 1.2rem;
}

.app__percentages--boxes .box:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 14px 28px rgba(197, 197, 197, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(197, 197, 197, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.app__percentages--boxes .box:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  scale: 0.96;
}

.app__percentages--1 {
  background: #e76f51;
}

.app__percentages--2 {
  background: #e9c46a;
}

.app__percentages--3 {
  background: #264653;
}

.app__percentages--4 {
  background: #2a9d8f;
}

.app__percentages--content {
  text-align: center;
  font-size: 0.9rem;
  padding: 0.8rem;
}

.app__percentages--content span {
  font-weight: bold;
  font-size: 1.3rem;
}

.app__percentages--logoText {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: baseFont;
  color: #ed7dad;
  text-align: center;
  margin-bottom: 1.5rem;
}

.app__percentages--logoText span {
  color: #3e3b38;
  font-family: baseFont;
}

.app__completed {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 1rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.app__completed--icon {
  padding-top: 5rem;
}

.app__completed--icon i {
  color: #2a9d8f;
  font-size: 6rem;
}

.app__completed--content {
  text-align: center;
}

.app__completed--content span {
  font-weight: bold;
  font-size: 1.2rem;
}

.app__completed--btn {
  border: none;
  background: #f19121;
  color: white;
  padding: 1rem 2rem;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.app__completed--btn:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.app__completed--btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  scale: 0.96;
}

.app__completed--logoText {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: baseFont;
  color: #ed7dad;
  text-align: center;
  margin-bottom: 1.5rem;
}

.app__completed--logoText span {
  color: #3e3b38;
  font-family: baseFont;
}

.app__budget {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 0.75rem;
  position: relative;
  overflow: hidden;
}

.app__budget .section {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 0.5rem;
  border-radius: 0.5rem;
  color: white;
  padding: 0.5rem;
}

.app__budget li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  border-radius: 0.8rem;
}

.app__budget li p {
  font-weight: bold;
}

.app__budget .title {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 0.85rem;
  font-weight: bold;
  border-bottom: 2px solid white;
  padding-bottom: 0.5rem;
}

.app__budget--expenses {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #e76f51;
}

.app__budget--expenses .app__budget--expensesList li:nth-child(even) {
  background: #c45e44;
}

.app__budget--growthFund {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #264653;
}

.app__budget--growthFund .app__budget--growthList li:nth-child(even) {
  background: #305868;
}

.app__budget--burger {
  background: white;
  height: 5rem;
  width: 5rem;
  bottom: -1rem;
  right: -1rem;
  margin-right: 0.5rem;
  margin-bottom: 0.3rem;
  border-radius: 10rem;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.app__budget--burger:hover {
  cursor: pointer;
  background: #2a9d8f;
}

.app__budget--burger .line {
  background: #25242a;
  height: 0.15rem;
  width: 2rem;
  margin: 0.2rem;
  pointer-events: nones;
}

@-webkit-keyframes intro {
  0% {
    opacity: 0;
    scale: 3;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

@keyframes intro {
  0% {
    opacity: 0;
    scale: 3;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

.hide {
  opacity: 0;
}

.remove {
  display: none;
}
/*# sourceMappingURL=styles.css.map */